.common {
  &__logo {
    font-size: 36px;
    font-weight: $mediumWeight;

    color: $defaultBlue;

    &-black {
      color: $defaultBlack;
    }
  }

  &__button-text {
    font-size: 18px;
    font-weight: 500;

    line-height: 156%;
    letter-spacing: 0.025em;

    color: $defaultWhite;
  }

  &__button-icon {
    width: 50.91px;
    height: 47.09px;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: $defaultWhite;

    border-radius: 50%;
  }

  &__button {
    padding: 13px 18px;

    display: inline-flex;

    align-items: center;

    background-color: $defaultBlue;

    border-radius: 60px;

    &_left {
      justify-content: flex-start;

      padding-right: 33px;

      .common__button-text {
        margin-left: 10px;
      }
    }

    &_right {
      justify-content: flex-end;

      padding-left: 33px;

      .common__button-text {
        margin-right: 10px;
      }
    }

    &_primary {
      transition: all 0.2s;
      background-color: $defaultWhite;

      border: 1px solid $defaultBlack;

      &:hover {
        background-color: $defaultBlue;
        border: 1px solid transparent;

        .common__button {
          &-text {
            color: $defaultWhite;
          }

          &-icon {
            background-color: $defaultWhite;

            svg {
              fill: $defaultBlue;
            }
          }
        }
      }

      .common__button {
        &-text {
          color: $defaultBlue;
        }

        &-icon {
          background-color: $defaultBlue;

          svg {
            fill: $defaultWhite;
          }
        }
      }
    }
  }

  &__star {
    width: 10px;
    height: 10px;

    svg {
      width: 100%;
      height: 100%;
    }

    &_trimed {
      clip-path: inset(0 50% 0 0);
    }
  }
}

.mobile-menu {
  display: none;

  position: fixed;

  padding: 20px;

  top: 0;
  left: 0;
  right: 0;

  height: 100vh;
  max-height: 100vh;

  color: $mediumBlack;
  background-color: $defaultWhite;

  animation: openMenu 0.4s;

  z-index: 1000;

  &_opened {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  &__close {
    color: $mediumBlack;
    font-size: 24px;

    display: inline;
    margin-left: auto;

    cursor: pointer;
  }

  &__nav {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  &__nav-link {
    padding: 12px 25px;

    border-radius: 30px;

    transition: all 0.2s;

    &:hover,
    &_selected {
      background-color: $defaultBlue;
      color: $defaultWhite;
    }
  }
}

@keyframes openMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
