@font-face {
    font-family: "Poppins";

    font-style: normal;
    font-weight: normal;

    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";

    font-style: normal;
    font-weight: 100;

    src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";

    font-style: normal;
    font-weight: 500;

    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";

    font-style: normal;
    font-weight: 600;

    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');    
    font-weight: normal;    
    font-style: normal;
  }