@import '~plyr/dist/plyr.css';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import '~font-awesome/css/font-awesome.css';

i {
  font-family: fontawesome !important;
  font-style: normal;
}
