/* Vars:
  ========================================================================== */

// Font
$mainFont: 'Poppins', 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #000;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$mediumWeight: 500;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$defaultWhite: #fff;
$defaultBlack: #000;
$defaultGray: #656565;

$mediumBlack: #2C3131;
$mediumGray: rgba(0, 0, 0, 0.5);

$lightGray: #c4c4c4;

$defaultBlue: #4270C9;

// Components
$bodyColor: #E5E5E5;
$verticalScrollContainer: #F1F1F1;
$verticalScrollBar: #302020;
$verticalIndicatorColor: #CAC8C8;

$stepDescr: #888888;

$commonButtonShadow: rgba(158, 175, 201, 0.2);

$featuresDescr: #150F0F;

$commentText: #2D2525;
$commentLocation: #CECECE;

$questionTitle: #101010;
$questionDescr: #3C3C3C;

$footerNavTitle: #0e1717;
$footerNavItem: #5e5e5e;