.question {
  &__container {
    margin-top: 140px;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
  &__title {
    font-weight: 600;
    font-size: 40px;

    line-height: 132.5%;

    color: $questionTitle;
  }

  &__descr {
    margin-top: 39px;
    max-width: 800px;

    font-size: 22px;
    line-height: 132.5%;

    color: $questionDescr;

    text-align: center;
  }

  &__input-container {
    margin-top: 100px;
    
    width: 853px;

    padding: 30px 0px;
    padding-right: 50px;
    padding-left: 40px;

    display: grid;
    grid-template-columns: auto 1fr auto;

    align-items: center;

    background-color: $defaultWhite;

    border-radius: 5px;

    box-shadow: 0px 4px 100px #f2f2f5;
  }

  &__input-icon {
    margin-right: 20px;
  }

  &__input {
    margin-right: 50px;
  }

  &__submit {
    box-shadow: 0px 4px 4px rgba($defaultBlack, 0.05);

    .common__button-icon {
      background: rgba(190, 202, 231, 0.2);

      svg {
        fill: $defaultWhite;
      }
    }
  }
}
