@mixin comment {
  .comment {
    margin: 0px 20px;
    margin-bottom: 35px;

    padding: 35px;
    padding-top: 85px;

    max-width: 434px;

    background-color: $defaultWhite;

    border-radius: 10px;

    box-shadow: 0px 16px 24px rgba(112, 144, 176, 0.2);

    &__text {
      color: $commentText;

      font-size: 16px;
      line-height: 27px;

      &:before {
        display: inline;
        content: '“';
      }

      &:after {
        display: inline;
        content: '”';
      }

      &_blue {
        color: $defaultBlue;
      }
    }

    &__author {
      margin-top: 30px;

      font-size: 16px;
      line-height: 169.5%;

      letter-spacing: -0.03em;
    }

    &__location {
      font-size: 12px;
      line-height: 169.5%;

      letter-spacing: -0.03em;

      color: $commentLocation;
    }

    &__rating {
      margin-top: 3px;

      display: flex;
    }
  }
}

@mixin switcher {
  .switcher {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: 20px;

    column-gap: 15px;

    &__button {
      display: flex;

      align-items: center;
      justify-content: center;

      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }

      &_right {
        transform-origin: center center;
        transform: scale(-1);
      }
    }
  }
}

.reviews {
  margin-top: 145px;

  &__quotes {
    display: flex;

    justify-content: flex-end;
  }

  &__content {
    position: relative;
  }

  &__wrapper {
    margin-top: 13px;

    position: relative;

    display: grid;
    grid-template-columns: auto auto;
  }

  &__pictures {
    display: flex;
  }

  &__back-image {
    margin-top: 230px;

    width: 239px;

    border-radius: 5px;
  }

  &__front-image {
    margin-top: 70px;
    margin-left: 55px;

    width: 353px;

    border-radius: 5px;
  }

  &__bg-image {
    width: 562.09px;
    height: 639.53px;

    position: absolute;

    top: 96px;
    left: -70px;

    background-color: #f8f8f8;

    background: rgba(248, 248, 248, 0.5);

    border-radius: 120px 41px 144px 120px;

    transform: matrix(0.86, -0.54, 0.5, 0.85, 0, 0);

    z-index: -1;
  }

  &__content {
    margin-left: 10px;
  }

  &__text-container {
    margin-left: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 40px;

    line-height: 60px;
  }

  &__descr {
    margin-top: 20px;

    font-size: 16px;
  }

  &__comment-list {
    margin-top: 105px;

    max-width: 474px;
  }

  @include comment;

  &__comment-switcher {
    margin-left: 350px;

    display: flex;

    position: relative;

    top: -10px;
  }

  @include switcher;

  &__content-bg {
    position: absolute;

    bottom: -60px;
    left: -72px;

    z-index: -1;
  }

  &__footer {
    margin-top: 50px;
    margin-left: 125px;

    display: flex;
    flex-direction: column;

    align-items: center;
  }

  &__all-rating {
    display: flex;

    align-items: center;
  }

  &__star {
    width: 22px;
    height: 22px;
  }

  &__num-stars {
    font-size: 18px;
    line-height: 169.5%;

    letter-spacing: -0.03em;

    margin-left: 7px;
  }

  &__show-all {
    margin-top: 12px;

    padding: 20px 22px;

    background-color: $defaultBlue;
    color: $defaultWhite;

    line-height: 169.5%;
    letter-spacing: -0.03em;

    border-radius: 60px;

    box-shadow: 4px 20px 32px rgba(158, 175, 201, 0.2);
  }
}
