@mixin verticalIndicator {
  .vertical-indicator {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    &__scroll-container {
      width: 3px;
      height: 148px;

      border-radius: 10px;

      background-color: $verticalScrollContainer;
    }

    &__scroll-bar {
      margin: 0 auto;

      width: 1px;
      height: 95px;

      border-radius: 10px;

      background-color: $verticalScrollBar;
    }

    &__num-page {
      margin-top: 105px;

      transform-origin: center center;
      transform: rotate(-90deg);

      font-weight: 500;
      font-size: 12px;

      color: $verticalIndicatorColor;

      &_current {
        font-weight: bold;

        color: $defaultBlack;
      }
    }
  }
}

@mixin step {
  .step {
    &__container {
      width: 265px;
    }

    &__content {
      position: relative;

      width: 100%;
    }

    &__image {
      width: 265px;
      width: 363px;

      border-radius: 5px;
    }

    &__num {
      position: absolute;

      bottom: 0;

      width: 50px;
      height: 53px;

      display: flex;
      align-items: flex-start;

      padding: 10px 8px;

      border-radius: 0px 30px 0px 0px;

      background-color: $defaultBlack;
      color: $defaultWhite;

      font-size: 24px;
    }

    &__title {
      margin-top: 20px;

      font-size: 24px;
      line-height: 146.19%;
    }

    &__descr {
      margin-top: 12px;

      font-size: 14px;
      line-height: 146.19%;

      color: $stepDescr;
    }
  }

}

.work-steps {
  margin-top: 129px;

  &__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 40px;
  }

  &__descr {
    margin-top: 30px;

    max-width: 466px;

    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.025em;

    text-align: center;
  }

  &__content {
    position: relative;

    margin-top: 75px;

    display: flex;
  }

  &__steps-list {
    display: flex;
  }

  @include verticalIndicator;

  &__vertical-indicator {
    margin-right: 73px;
  }

  @include step;

  &__step {
    &:not(:last-child) {
      margin-right: 60px;
    }

    &_selected {
      margin-top: 25px;

      .step {
        &__num {
          background-color: $defaultBlue;

          right: 0;

          border-radius: 30px 0px 0px 0px;
        }
      }
    }
  }
}
